body {
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-family: "Noto Sans UI", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
    height: 720px;
    border: 1px solid #000;
}

#editor {
    float: left;
    width: 70%;
    height: 100%;
}

#workspace {
    float: left;
    width: calc(40% - 1px);
    height: 100%;
    border-right: 1px solid #000;
}

#workbench {
    float: left;
    width: 60%;
    height: 100%;
}

.workbench-area {
    display: block;
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.8);
}

.workbench-item {
    display: inline-block;
    border-radius: 5px;
    width: calc(50% - 1.5em);
    margin: 0.5em;
    padding: 0.25em;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: grab;
    transition: 0.3s ease-in-out box-shadow;
    color: #FFF;
}

.workbench-item:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.blueprint {
    background: #00C;
    border: 1px solid #00F;
    /* Based on http://lea.verou.me/css3patterns/#blueprint-grid */
    /* My understanding: background-size sets the size of the pattern, one
       pair per linear-gradient line. This causes the pattern to tile. */
    background-size: 10px 10px, 10px 10px;
    /* Here we specify a color and a stop. The stop is the position along
       the gradient where the color should stop. */
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}

.blueprint .class {
    font-family: "Consolas", monospace;
}

div.method {
    background: #C0C;
}

span.method {
    color: #C0C;
}

div.control-flow-structure {
    background: orange;
}

span.object {
    color: #0F0;
}

div.primitive {
    background: brown;
}

div.boolean {
    background: red;
}

.toolbox {
    background: #777;
    border: 1px solid #333;
}

#map {
    float: left;
    width: 30%;
    height: 100%;
}

#worldMap {
    height: 85%;
}

#gameControls {
    height: 15%;
}