[submodule "server_prototype/static/blockly"]
	path = server_prototype/static/blockly
	url = https://github.com/google/blockly.git
[submodule "server_prototype/static/closure-library"]
	path = server_prototype/closure-library
	url = https://github.com/google/closure-library.git
[submodule "server_prototype/static/pypyjs-release"]
	path = server_prototype/static/pypyjs
	url = https://github.com/pypyjs/pypyjs-release.git
