body {
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-family: source-code-pro, monospace;

    background: #000;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    min-height: 600px;
}

#main {
    background: none;
    position: absolute;
    top: 0;
    left: 6em;
    right: 6em;
    bottom: 1em;
}

.container {
    margin: 0;
    width: 100%;
    min-width: 960px;
    height: 100%;
    border: 1px solid #000;
    color: #FFF;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.8);
}

#tooltip {
    /* position: absolute stops you from being able to click on stuff */
    margin: 0 1em;
    min-width: 960px;
    color: #FFF;
}

.tooltip {
    position: absolute;
    z-index: 9999;
    width: 9em;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    background: rgba(0,75,200,0.8);
}

.tooltip.map {
    top: 3em;
}

.tooltip.objectives {
    top: 50%;
}

.tooltip.controls {
    bottom: 1em;
}

.tooltip.toolbox {
    left: calc(320px + 6em);
    top: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}

.tooltip.workspace {
    right: 320px;
    top: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}

#editor {
    float: left;
    width: calc(100% - 320px);
    height: 100%;
}

.blueprint {
    display: inline-block;
    width: 100%;

    /* Override Blockly styles */
    border-left: 0 !important;
    padding-right: 0 !important;

    color: #FFF;
    background: #007;
    /* Based on http://lea.verou.me/css3patterns/#blueprint-grid */
    /* My understanding: background-size sets the size of the pattern, one
       pair per linear-gradient line. This causes the pattern to tile. */
    background-size: 10px 10px, 10px 10px;
    /* Here we specify a color and a stop. The stop is the position along
       the gradient where the color should stop. */
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}

.blueprint.blocklyTreeRow:hover:not(.blocklyTreeSelected) {
    background-color: #00A;
}

#map {
    float: left;
    width: 320px;
    height: 100%;
}

#worldMap {
    height: 35.5556%;
    width: 100%;
    float: left;
}

#objectives {
    background: #000;
    height: 49.4444%;
    width: 100%;
    float: left;
}

#objectives ul {
    padding-left: 0.5em;
    list-style-type: none;
}

.checkbox {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.5em;
    border: 1px solid #FFF;
    content: " ";
    transition: 0.3s background-color ease-in-out;
}

.checkbox.checked {
    background: green;
}

#objectives h2 {
    padding-left: 1.5rem;
    margin: 0;
    font-weight: 300;
}

#gameControls {
    height: 15%;
    width: 100%;
    float: left;
}

#gameControls button {
    border: 0;
    width: 100%;
    color: #FFF;
    font-size: 2rem;
}

#gameControls button.run {
    background: green;
    height: 100%;
}

#gameControls button.abort {
    background: red;
    height: 50%;
}

#gameControls button.pause {
    background: purple;
    width: 50%;
    height: 50%;
}

#gameControls button.step {
    background: orange;
    width: 50%;
    height: 50%;
}

#editor.executing {
    width: calc(100% - 480px);
}

#map.executing {
    width: 480px;
}

.executing #worldMap {
    height: 60%;
}

.executing #objectives {
    height: 25%;
}