body {
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-family: "Noto Sans UI", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
    height: 720px;
    border: 1px solid #000;
}

#editor {
    float: left;
    width: 80%;
    height: 100%;
}

.blueprint {
    display: inline-block;
    width: 100%;

    color: #FFF;
    background: #007;
    /* Based on http://lea.verou.me/css3patterns/#blueprint-grid */
    /* My understanding: background-size sets the size of the pattern, one
       pair per linear-gradient line. This causes the pattern to tile. */
    background-size: 10px 10px, 10px 10px;
    /* Here we specify a color and a stop. The stop is the position along
       the gradient where the color should stop. */
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}

.blueprint.blocklyTreeRow:hover:not(.blocklyTreeSelected) {
    background-color: #00A;
}

#map {
    float: left;
    width: 20%;
    height: 100%;
}

#worldMap {
    height: 35.5556%;
    width: 100%;
    float: left;
}

#objectives {
    height: 49.4444%;
    width: 100%;
    float: left;
}

#objectives h2 {
    margin: 0;
}

#gameControls {
    height: 15%;
    width: 100%;
    float: left;
}

#gameControls button {
    border: 0;
    width: 100%;
    height: 100%;
    background: green;
    color: #FFF;
    font-size: 3rem;
}

#editor.executing {
    width: 60%;
}

#map.executing {
    width: 40%;
}

.executing #worldMap {
    height: 60%;
}

.executing #objectives {
    height: 25%;
}