/** Copyright 2016 David Li, Michael Mauer, Andy Jiang

This file is part of Tell Me to Survive.

Tell Me to Survive is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Tell Me to Survive is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Tell Me to Survive.  If not, see <http://www.gnu.org/licenses/>.
*/

.titleContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;

    font-family: source-code-pro, monospace;
    color: white;
}

.titleContainer header {
    margin: 1em;
    height: 25em;
    position: relative;
    background-image: url("assets/pia19839-galecrater-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    /* animation: shake 5s cubic-bezier(.36,.07,.19,.97) infinite; */
    /* animation-delay: 5s; */
}

.titleContainer header h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 25rem;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.titleContainer nav {
    width: 20rem;
    margin: 0 auto;
}

.titleContainer nav button {
    width: 100%;
    font-size: 1.5rem;
}

.titleContainer .restart {
    font-size: 1rem;
    width: 70%;
    margin: 2em auto;
    display: block;
}

.titleContainer article {
    margin: 1em auto;
    width: 52em;
}

.vanish {
    animation: 1s fade-out ease-out;
    opacity: 0;
}

.titleContainer a {
    color: #FFF !important;
}

@keyframes shake {
    1%, 9% {
        transform: translateX(-1px);
    }

    2%, 8% {
        transform: translateX(2px);
    }

    3%, 5%, 7% {
        transform: translateX(-4px);
    }

    4%, 6% {
        transform: translateX(4px);
    }

    10% {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}